*{
    padding: 0;
    margin: 0;
    color: white;
    scroll-behavior: smooth;
}

/* ...............................................................ALL HTML STYLE END */




.display-flex{ 
    display: flex;
}
/* ....................................................................COMMON ITEMS END*/







:root{ 
    --btn-and-logo-col:#E6533C;
    --p-col:#c9c2c2c7;

    --main-text-size:2.5rem;
    --main-text-width:800;
    --p-size:1.1rem;
    --btn-size:1.2rem;
    --btn-radius:20px;
}
/* ..............................................................................ROOT END*/









.for_phone_icon{
    display: none;
}
/* .............................................................................END FOR PHONE */















/* ..........................................START NOW NOW NOW..................................................... */

.header_container{
    height: 100vh;
    background: linear-gradient( #131313 0%,#000000dc, #000000 100%);
}

main{
    background: black;
    padding-bottom: 190px;
}
/*...................................................................................FULL HTML BACKGROUND*/









.nav_container{
    justify-content: space-between;
    width: 90%;
    height: 70px;
    margin: 0px auto;
    align-items: center;
}
.nav_container > h1{
    font-size: 2.1rem;
    color: var(--btn-and-logo-col);
}
.nav_items{
    width: 37%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #bebebe73;
    border-radius: 20px;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 2px;
    padding-right: 9px;
}
.link:nth-child(1) > a{
    padding: 7px 36px;
    background-color: var(--btn-and-logo-col);
    border-radius: var(--btn-radius);
}
.link{
    list-style-type: none;
}
.link > a{
    text-decoration: none;
    font-size: var(--btn-size);
    color: white;
    padding: 10px;
}

/*..............................................................................END NAV PART*/








.div_container{
    width: 90%;
    margin: 0px auto;
}
.div_container>.left_div{
    width: 50%;    
    margin-top: 80px;
}
.left_div > div > h1{
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 20px;
}
.left_div > div >p{
    color: white;
    font-size: var(--p-size);
}
.btn_container{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.btn_container > a > button{
    cursor: pointer;
    border: none;
    background: none;
    font-size:var(--btn-size) ;
}
.btn_container > .btn{
    padding: 9px 30px;
    border-radius:var(--btn-radius) ;
    background-color: var(--btn-and-logo-col);
}
.btn:nth-child(2){
    background-color: transparent;
    border: 1px solid white;

}

.right_div{
    width: 50%;
}
.transparent_div{
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 90px;
    width: 190px;
    background: rgba(252, 252, 252, 0.082);
    backdrop-filter:blur(9px);
    border-radius: 10px;
}
.transparent_div:nth-child(2){
    position: absolute;
    top: 70%;
    right: 35%;
}
.transparent_div:nth-child(1){
    position: absolute;
    right: 5%;
    top: 40%;
}
.scircle{
    width: 50px;
    height: 50px;
    background-color: var(--btn-and-logo-col);
    border-radius: 100%;
    margin-left: 2px;
    margin-right: 20px;
}

.banner_img{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
}
.banner_img img{

    width:fit-content;
    height: 100%;

}

/* ..........................................................................END HEADER PART*/









.main_container_1_part{
    width: 90%;
    margin: 0px auto;
}
.Change_Your_Habits_container{
    text-align: center;
}
.Change_Your_Habits_container > h1{
    font-size: var(--main-text-size);
    font-weight:var(--main-text-width);
    margin-bottom: 10px;
    padding-top:100px;
}
.Change_Your_Habits_container > p{
    font-size: var(--p-size);
    color: var(--p-col);
}
.img_card_container{
    margin-top: 50px;
    justify-content: space-evenly;
}

.card > img{
    border-radius: 100%;
    border: 5px solid #1b1b1b;
}

.card > h1{
    font-weight: 700;
    margin-top: 10px;
}
.card > p{
    color: var(--p-col);
    font-size:17px ;
    margin-top: 10px;
}

/* ..........................................................................END MAIN CONTAINER'S 1 PART */





.main_container_2_part{
    margin-top: 100px;
}
.main_container_2_part_card_div{
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
    border-radius: var(--btn-radius);
    background-color: #1b1b1b;
    box-sizing: border-box;
    padding: 20px 30px;
}
.main_container_2_part_card_div > .left_div{
    width: 50%;
}
.main_container_2_part_card_div > .left_div >h1 {
    font-size: 50px;
    font-weight: var(--main-text-width);
    margin-top: 50px;
}
.main_container_2_part_card_div > .left_div > p{
    font-size: 1.2rem;
    color: white;
}
.left_card_btn{
    margin-top: 40px;

}
.left_card_btn >div> a{
    padding: 10px 85px;
    background-color: var(--btn-and-logo-col);
    border-radius: var(--btn-radius);
}
.left_card_btn > div>a > button{
    font-size: var(--btn-size);
    background: none;
    border: none;
}


.main_container_2_part_card_div > .fight_div{
    width: 50%;
}

.main_container_2_part_card_div > .fight_div > img{
    width: 100%;
    border-radius: var(--btn-radius);
    box-shadow: 6px 3px 10px 0px #000000;
}

/* ......................................................................END MAIN CONTAINER'S 2 PART */






.main_container_3_part{
    margin-top:180px ;
}
.Trainings_and_Exercises_text{
    width: 90%;
    margin:25px auto;
}
.Trainings_and_Exercises_text > h1{
    font-size: var(--main-text-size);
    font-weight: var(--main-text-width);
}
.Trainings_and_Exercises_text > p{
    font-size: var(--p-size);
    color: var(--p-col);
}

.grid_img_container{
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(1, 100px);
    grid-template-rows: repeat(2, 255px);
    grid-template-areas: 
    
    "img1   img1    img2    img2    img2    img5    img5"
    "img4   img4    img4    img3    img6    img6    img6"

    ;
}
.img1{
    grid-area: img1;
    background: linear-gradient(#00ffff54,#00ffff4b) , url(./images/exercise1.jpg)no-repeat;
    background-position:left center;
    background-size: cover;
    align-items: start;
    justify-content: center;
}
.img2{
    grid-area: img2;
    background: linear-gradient(#ff00005b,#ff000048) ,url(./images/exercise2.png)no-repeat;
    background-position: top center;
    background-size: cover;
    align-items: start;
    justify-content: end;
}
.img3{   
    grid-area: img3;
    background: linear-gradient(#3cff005e,#3cff005e) ,url(./images/exercise5.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    align-items: end;
    justify-content: center;
}
.img4{
    grid-area: img4;
    background: linear-gradient(#0000002c,#0000007a) ,url(./images/exercise4.png)no-repeat;
    background-position: bottom center;
    background-size: cover;
    align-items: start;
    justify-content: end;
}
.img5{
    grid-area: img5;    
    background: linear-gradient(#0000005b,#00000049) ,url(./images/exercise3.png)no-repeat;
    background-position: top  center;
    background-size: cover;
    align-items: end;
    justify-content: center;
}
.img6{
    grid-area: img6;
    background: linear-gradient(#002fff69,#002fff69) ,url(./images/exercise6.jpg)no-repeat;
    background-position: bottom center;
    background-size: 100%;
    align-items: center;
    justify-content: end;
}

/* ...............................................................END MAIN CONTAINER'S 3 PART*/









.BMI_Calculator_container{
    width: 50%;
    margin-top:150px ;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.BMI_Calculator_text > h1{
    font-size: var(--main-text-size);
    font-weight: var(--main-text-width);
}
.BMI_Calculator_text > p{
    font-size: var(--p-size);
    color: var(--p-col);
}
.BMI_Calculator_cards{
    background:  #1b1b1b;
    padding: 30px;
}
.BMI_Calculator_cards > .left_card{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.BMI_Calculator_cards > .left_card >div> h1{
    font-size: 34px;
    font-weight: 200;
    margin-top: 25px;
}


.table_contaoner{
    display: flex;
    justify-content: center;
}


table{
    border-color: rgb(170, 170, 170);
    border-collapse: collapse;
    table-layout: auto;
}
th{
    font-size: 23px;
    font-weight: 200;
    padding: 10px 15px;
}
td{
    padding: 5px 15px;
    font-weight: 200;
    font-size: 17px;
    letter-spacing: 1.2px;
    color: var(--p-col);
} 

.BMI_Calculator_cards > .right_card{
    width: 50%;
    display: flex;
    justify-content: center;
}
.BMI_Calculator_cards > .right_card > div >h1{
    font-size: 34px;
    font-weight: 200;
    margin-top: 25px;
}
.BMI_Calculator_cards > .right_card > div >p{
    font-size: var(--p-size);
    color: #c9c2c2bd;
}
.input_container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8px;
    column-gap: 18px;
}
input{
    border-radius: 5px;
    outline: none;
    border: none;
    height: 25px;
    color: #a1a1a1;
    background-color:  #333333;;
    font-size: 1.5rem;
    padding: 5px 5px;
    width:calc(100% - 10px);
}
.input{
    border-radius: 5px;
    outline: none;
    border: none;
    height: 25px;
    color: #a1a1a1;
    background-color:  #333333;;
    font-size: 1.5rem;
    width: 100%;
}
.option{
    color: #8f8f8fad;
    height: 34px;
    font-size: 1.4rem;
}

::placeholder{
    font-size: 20px;
    color: #8f8f8fad;
}
.span_input{
    grid-column: span 2;
    border-radius: 5px;
    outline: none;
    border: none;
    height: 40px;
    color: #8f8f8fad;
    background-color:  #333333;
    font-size: 1.4rem;
    padding: 5px 5px;
    width: 100%;
}
button[type="submit"]{
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 60px;
    background: var(--btn-and-logo-col);
    border: none;
    border-radius: var(--btn-radius);
    font-size: var(--btn-size);
}

/* ...............................................................END MAIN CONTAINER'S 4 PART */








.main_container_5_part{
    width: 90%;
    margin: 0px auto;
    text-align: center;
}
.main_container_5_part > h1{
    font-size: var(--main-text-size);
    font-weight: var(--main-text-width);
    margin-top: 100px;
}
.main_container_5_part > p{
    font-size: var(--p-size);
    color: var(--p-col);
    margin-bottom: 40px;
}


.img_container{
    height: 100%;
    padding: 13px 13px;
    border-radius: var(--btn-radius);
    background-color: #464545;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 310px);
}



.img_container > div{

    width: 100%;
    height: 100%;
}
.img_container > div> img{
    border-radius: var(--btn-radius);
    width: 100%;
    height: 100%;
    box-shadow: 2px 1px 8px 0px  #000000 ;
}
.img_container > div > h2{
    color: rgb(255, 255, 255);
    font-weight: 900;
    position: relative;
    bottom:20%;
    right: 20%;
}
.img_container > div > p{
    position: relative;
    bottom: 20%;
    right: 30%;
}
/* ..................................................................END MAIN CONTAINER'S  5  PART*/






footer{
    background:#1b1b1b;
}

.footer_cards{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.left_card >h1{
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 80px;
    color:var(--btn-and-logo-col);
} 
.left_card >p{
    color:var(--p-col);
    padding: 10px;
} 
.mid_card >h1{
    margin: 20px;
    font-size:30px;
}
.right_card > h1{
    margin: 20px;
    font-size:30px;
}

.mid_link_container >  li{
    list-style-type: none;
    padding: 9px;
}
.right_link_container >  li{
    list-style-type: none;
    padding: 9px;
}
a{
    text-decoration: none;
    color: var(--p-col);
    font-size: 1.2rem;
}



.copy_write_items{
    margin-top: 30px;
}
.border{

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 1px;
    background-color: white;
}
.footer_bottom{
    text-align: center;
    padding: 10px;
}
.footer_bottom > h2{
    font-weight: 200;
}


/* ....................................................................END FOOTER PART */
























/* .................................................FOR PHONE................................................................... */
/* ..................................................FOR PHONE................................................................ */

@media screen and (max-width:576px) {
    .header_container {
        /* height: 134vh; */ 
        height: 100%;
    }
    .nav_container > h1{
        font-size: 1.5rem;
    }
    .for_phone_icon{
        display: inherit;
    }
    .nav_items{
        display: none;
    }
    /* .................................................................................END NAV*/
    
    
    
    .div_container{
        flex-direction: column;
        /* gap: 20px; */
        align-items: center;
    }
    .div_container>.left_div {
        width: 100%;
        margin-top: 0px;
    }
    .left_div > div>h1{
        text-align: center;
        font-size: 2.7rem;
    }
    .left_div > div >p{
        text-align: center;
        font-size:medium;
    }
    .btn_container{
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .btn_container > a {
        padding: 9px 15px;
    }
    .btn_container > a > button{
        font-size: 0.9rem;
    }
    .right_div {
        width: 100%;
    }
    .transparent_div{
        height: 50px;
        width: 107px;
        border-radius: 4px;
    }
    .transparent_div > div > h1{
        font-size: 20px;
    }
    .transparent_div > div > p{
        font-size: 10px;
    }
    .transparent_div:nth-child(1){ 
        right: 8%;
        top: 100%;
    }
    .scircle{
        width: 42%;
        height:65%;
        margin-left: 13px;
    }
    .transparent_div:nth-child(2){ 
        right: 60%;
        top: 85%;
    }
    .banner_img {
        height: 100vw;
    }

    
    /* .......................................................................HERDER PART END*/





    .img_card_container{
        flex-direction: column;
        gap: 55px;
    }
    /* ................................................................END MAIN CONTAINER'S 1 PART*/

    .main_container_2_part_card_div{
        flex-direction: column;
        padding-bottom:8px;
        padding-left:8px;
        padding-right:8px;
        align-items: center;
    }
    .main_container_2_part_card_div > .left_div {
        width: 95%;
    }
    .main_container_2_part_card_div > .left_div >h1{
        font-size: 1.8rem;
        margin-top: 10px;
    }
    .main_container_2_part_card_div > .left_div >p{
        font-size: 1rem;
    }
    .left_card_btn > div {
       text-align: center;
    }   
    .left_card_btn >div> a {
        padding-left:25px ;
        padding-right:25px ;
        display: block;
    }

    .main_container_2_part_card_div > .fight_div{
        width: 100%;
        margin-top: 30px;
    }

    /* .................................................................END MAIN CONTAINER'S 2 PART */




    .main_container_3_part {
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .img6{
        display: none;
    }
    .img5{
        display: none;
    }
    .img_h1{
        font-size: 10px;
        font-weight: 200;
    }
    .grid_img_container {
        display: grid;
        grid-template-rows: repeat(2, 100px);
       grid-template-areas: 
       "img2    img2    img1    img1    img1    img1    img1"
       "img3    img3    img3    img4    img4    img4    img4"
       ;
    }

    /* ................................................................END MAIN CONTAINER'S 3 PART */





    .BMI_Calculator_container {
        width: 90%;
        margin-bottom: 10px;
    }

    .BMI_Calculator_cards{
        flex-direction: column;
        gap: 20px;
    }
    .BMI_Calculator_cards > .left_card {
        width: 100%;
    }
    th {
        padding: 10px 10px;
        font-weight: 200;
    }
    td {
        padding: 10px 5px;
    }
    .BMI_Calculator_cards > .right_card {
        width: 100%;
    }
    .input_container {
        gap: 15px;
    }
    input {
        font-size: 1.3rem;
    }
    ::placeholder{
        font-size: 1.1rem;
    }

    /* ............................................END MAIN CONTAINER'S 4 PART */




    .img_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .img_container > div > h2 {
        font-weight: 900;
        right: -3%;
        bottom: 30%;
        font-size: 20px;
    }
    .img_container > div > p {
        font-weight: 900;
        bottom: 25%;
        right: -3%;
        font-size: 14px;
    }
    /* .......................................................END MAIN CONTAINER'S 5 PART */




    .footer_cards{
        flex-direction: column;
    }
    .left_card >h1{
        margin-bottom: 5px;
        text-align: center;
        font-size: 60px;
    }

    .mid_card >h1{
        margin-bottom: 0px;
        font-size: 26px;
        text-align: center;
    }

    .right_card >h1{
        font-size: 26px;
        text-align: center;
    }
    .mid_link_container > li{
        padding: 8px;
        text-align: center;
    }
    a {
        font-size: 1rem;
    }
    .right_card > h1{
        margin-bottom: 0px;
        margin-top: 50px;
    }
    .right_link_container > li{
        padding: 10px;
        text-align: center;
    }
    .border{
        width: 90%;
        background-color: var(--p-col);
    }
    .footer_bottom > h2{
        font-size: 20px;
    }
    /* ........................................................END FOOTER PART */

}

